/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
#sidebar-wrapper {
    background-color: darkgreen; /* dark green or any color you like */
    min-height: 100vh; /* full height */
    color: darkslateblue;
}

    #sidebar-wrapper .sidebar-heading {
        font-size: 1.2rem;
        color: cadetblue;
    }

    #sidebar-wrapper .list-group-item {
        background-color: transparent;
        color: green;
        border: none;
    }

        #sidebar-wrapper .list-group-item:hover {
            background-color: #1e5631; /* hover effect */
            color: #fff;
        }
        